@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
nav ul li, article .card h2, section .texto h1, section .texto p {
  font-family: 'Dancing Script', cursive;
}

article .card h2, section, section .texto h1, footer .redes, .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header a, nav a {
  position: absolute;
  visibility: hidden;
}

.colores, article .card h2 {
  background-color: #7a837d;
  color: #1f363d;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #a5cecd;
}

nav {
  height: 50px;
  background-color: #49585f;
}

nav a {
  top: 0px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
  margin-top: 10px;
  font-size: 1.8em;
}

nav ul li:hover {
  color: lightblue;
}

figure img {
  background-size: contain;
  border: 2px solid black;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

article .card {
  width: 250px;
  -webkit-box-shadow: 11px 11px 23px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 23px -3px rgba(0, 0, 0, 0.75);
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 8px;
}

article .card h2 {
  font-size: 2.6em;
}

article .card h2:hover {
  color: lightblue;
}

article .card p {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section .texto {
  width: 650px;
}

section .texto h1 {
  font-size: 2.5em;
}

section .texto p {
  font-size: 1.3em;
  text-align: center;
}

.background {
  background-color: black;
}

.background p {
  text-shadow: 2px 2px 8px black;
  color: black;
  font-size: 1.2em;
  position: relative;
  bottom: 250px;
  text-align: center;
}

footer {
  background-color: black;
}

footer .redes a {
  font-size: 0.5em;
  color: whitesmoke;
  margin: 5px;
}

footer .redes a:hover {
  color: orange;
}

.derechos {
  text-align: center;
  padding-top: 30px;
  background-color: black;
}

.derechos p {
  color: whitesmoke;
  padding-bottom: 20px;
}

.top {
  border-radius: 50%;
  background-color: #2e4857;
  border: 5px solid whitesmoke;
  width: 50px;
  height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

@media (max-width: 450px) {
  #menu {
    position: relative;
    top: -50;
    background: lightblue;
    opacity: 0;
    width: 0px;
    height: 135px;
    -webkit-transition: width 0.5s, opacity 0.9s;
    transition: width 0.5s, opacity 0.9s;
  }
  #menu:target {
    width: 180px;
    opacity: 95%;
    z-index: 3;
  }
  header {
    position: absolute;
    z-index: 2;
  }
  header a {
    position: absolute;
    visibility: visible;
  }
  menu {
    position: absolute;
    top: 0;
  }
  nav a {
    visibility: visible;
    position: absolute;
    top: 0px;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 60px;
    list-style: none;
  }
  nav ul li {
    font-size: 1.2em;
  }
  figure img {
    height: 450px;
    width: 100%;
  }
  article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: -webkit-sticky;
    position: sticky;
  }
  article .card {
    height: 100%;
    width: 250px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    -webkit-box-shadow: 11px 11px 23px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 11px 11px 23px -3px rgba(0, 0, 0, 0.75);
  }
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .texto {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */